@model UserViewModel

@{
    ViewData["Title"] = "Create user";
}

<h1>Create user</h1>
<a asp-action="Index" class="btn btn-primary">Index</a>

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RepeatedPassword" class="control-label"></label>
        <input asp-for="RepeatedPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Avatar" class="control-label"></label>
        <input asp-for="Avatar" class="form-control" accept="image/*" />
    </div>
    <div class="form-group">
        <label asp-for="Timezone" class="control-label"></label>
        <input asp-for="Timezone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Active" class="control-label"></label>
        <input type="checkbox" asp-for="Active" class="form-check-input" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Create</button>
    </div>
</form>

