@using WebShop.Data
@model ApplicationUser
@{
    ViewData["Title"] = "Update user";
}

<h1>Update user</h1>
<a asp-action="Index" class="btn btn-primary">Index</a>

<form asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input name="password" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Avatar" class="control-label"></label>
        <input asp-for="Avatar" class="form-control" accept="image/*" />
    </div>
    <div class="form-group">
        <label asp-for="Timezone" class="control-label"></label>
        <input asp-for="Timezone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Active" class="control-label"></label>
        <input type="checkbox" asp-for="Active" class="form-check-input" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

