@{
   
}
@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.OrderItems)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Price$
                    </td>
                    <td>
                        @((item.Quantity * item.Price).ToString("F"))$
                    <td>
                    <td></td>
                </tr>
            }
            <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                    <td>
                </tr>
        </tbody>
    </table>
}
else
{
    <h4>No order items!</h4>
}

